:root {
  --pico-font-size: 87.5%;
  /* Original: 100% */
  --pico-line-height: 1.25;
  /* Original: 1.5 */
  --pico-form-element-spacing-vertical: 0.5rem;
  /* Original: 1rem */
  --pico-form-element-spacing-horizontal: 1rem;
  /* Original: 1.25rem */
  --pico-border-radius: 0.375rem;
  /* Original: 0.25rem */
}

@media (min-width: 576px) {
  :root {
    --pico-font-size: 87.5%;
    /* Original: 106.25% */
  }
}

@media (min-width: 768px) {
  :root {
    --pico-font-size: 87.5%;
    /* Original: 112.5% */
  }
}

@media (min-width: 1024px) {
  :root {
    --pico-font-size: 87.5%;
    /* Original: 118.75% */
  }
}
button:hover{
  background-color: rgb(5, 255, 234);
}
h1 { 
  color: aliceblue;
  animation-name: changeColor;
  animation-duration: 5s ;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
h2 { 
  color: aliceblue;
  animation-name: changeColor;
  animation-duration: 5s ;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
@keyframes changeColor {
  from { color: rgb(255, 0, 0); }

  to {color: rgb(255, 0, 170); }

}